body {
  height: 95vh;
  width: 95vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color:#000000;
  font-family: Forma;
  font-weight: bold;
}

button {
  font-family: fantasy;
  font-size: 24px;
  color:#000000 ;
  font-weight: bold;
  
  width: 200px;
  height: 100px;
  background-color: #FFFFFF;

  margin-bottom: 16px;
}

canvas {
  display: none;
}

